.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.text_gold {
  color: #ffdf00;
}
.text_bluePrussian {
  color: #003b4d;
}
.text_darkHeavyMetal {
  color: #2d2e2c;
}

.bg_gold {
  background-color: #ffdf00;
}
.bg_greenPistachio {
  background-color: #8ac500;
}
.bg_bluePrussian {
  background-color: #003b4d;
}
.btn_bar1 {
  width: 6rem;
  border-radius: 15px;
}
