* {
    margin: 0;
    padding: 0;
}

.sidebar{
    height: calc(100vh);
    border-right: 1px solid gray;
    background-color: #4B4B4B;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a{
    width: 100%;
    text-align: left;
    color: #fefefe;
    text-decoration: none;
    background-color: #4B4B4B;
    border: none;
}

/* .active{
    background-color: #EE3536 !important;
} */



